@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&family=Poppins:wght@500;700&display=swap');

body {
    background-color: #162831;
    font-family: 'Poppins', sans-serif;
    font-family: 'El Messiri', sans-serif;
    font-weight: 500;
    color: #FFF;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, .5);
}
.item__left {
    background-image: url(../images/item_left.svg);
    background-repeat: no-repeat;
    width: 28px;
    height: 14px;
}
.item__right {
    background-image: url(../images/item_right.svg);
    background-repeat: no-repeat;
    width: 28px;
    height: 14px;
}

.header {
    max-width: 1296px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px 50px 15px;
}

.header__logo {
    display: block;
    width: 60px;
    height: 60px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
}

.header__list {
    display: flex;
    list-style-type: none;
    gap: 50px;
    padding-left: 0;
}

.header__link {
    color: #fff;
    text-decoration: none;
    transition: .5s;
}
.header__link:hover {
    color: rgba(255, 255, 255, .7);
    border-bottom: 1px solid;
}

.header__link__color {
    background-color: #018ABE;
    border-radius: 3px;
    padding: 9px 15px;
}

.header__link__color:hover {
    background-color: rgba(255, 255, 255, .7);
    color: #018ABE;
    border: 0;
}
section {
    padding-left: 15px;
    padding-right: 15px;
}
.first__screen {
    background-image: url(../images/first_screen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1296px;
    max-height: 600px;
    margin: 0 auto;
    padding: 136px 0 210px 0;
    text-align: center;
    border-radius: 10px;
}
.first__screen h2 {
    font-size: 24px;
    margin-bottom: 40px;
}
.first__screen h1 {
    font-size: 64px;
    max-width: 587px;
    margin: 0 auto;
}
.services {
    max-width: 1296px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.services__title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    margin-top: 150px;
    margin-bottom: 100px;
}
.services__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    margin-bottom: 150px;
}
.services__items p {
    color: #FFF;
    font-size: 24px;
}
.services__item1, .services__item2, .services__item3, .services__item4,.services__item5 {
    background-image: url(../images/image.jpg);
    background-repeat: no-repeat;
    background-size: 416px 100%;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    transition: .3s;
}
.services__item1 {
    width: 416px;
    height: 540px;
    grid-column: 1;
    grid-row: 1/3;
}
.services__item1 p {
    padding-top: 430px;
    padding-left: 50px;
}

.services__item2, .services__item3, .services__item4, .services__item5 p {
    padding-top: 140px;
    padding-left: 50px;
}

.services__item1:hover {
    box-shadow: inset 0 -5px 2px #018ABE;
    cursor: pointer;
    transform: scale(1.05)
    
}
.services__item2:hover {
    box-shadow: inset 0 -5px 2px #018ABE;
    cursor: pointer;
    transform: scale(1.05)
}
.services__item3:hover {
    box-shadow: inset 0 -5px 2px #018ABE;
    cursor: pointer;
    transform: scale(1.05)
}
.services__item4:hover {
    box-shadow: inset 0 -5px 2px #018ABE;
    cursor: pointer;
    transform: scale(1.05)
}
.services__item5:hover {
    box-shadow: inset 0 -5px 2px #018ABE;
    cursor: pointer;
    transform: scale(1.05)
}
.reviews {
    max-width: 1736px;
    margin: 0 auto 150px auto;
    padding-left: 15px;
    padding-right: 15px;
}
.reviews__title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    margin-bottom: 100px;
}
.review__slide {
    max-width: 600px;
    background-color: rgba(1, 138, 190, .3);
    
    padding: 60px;
    border-radius: 10px;
    transition: .3s;
}
.review__slide:hover {
    background-color:rgb(1, 138, 190);
}
.review__slide p {
    font-size: 12px;
    font-weight: normal;
}
.reviews__carousel .slick-dots {
    position: absolute;
    bottom: 5px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-slide {
    margin: 0px 20px;
}
.about {
max-width: 1076px;
margin: 0 auto;
}
.about__title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    margin-bottom: 100px;
}
.about__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
    margin-bottom: 150px;
}

.item4 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}
.price {
    max-width: 1076px;
    margin: 0 auto 150px auto;
}
.price__title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    margin-bottom: 100px;
}
.price__content {
    display: flex;
    flex-basis: 1076px;
    justify-content: space-between;
    align-items: center;
}
.price__text {
    max-width: 420px;
}
.price__items {
    margin: 0;
    padding: 0;
    width: 420px;
    position: relative;
}
.price__items li {
    list-style-type: none;
    background-image: url(../images/item_left.svg);
    background-repeat: no-repeat;
    background-size: 19px 8px;
    background-position-y: 50%;
    padding-left: 60px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, .5);
    letter-spacing: 1px;
    
}
.price__img {
    max-width: 526px;
    text-align: center;
}
figure {
    margin: 0;
}
figcaption {
    color: rgba(255, 255, 255, .5);
}
.price__items span {
    position: absolute;
    left: 90%;
}
.contacts {
    max-width: 1296px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto 150px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 48px;
    row-gap: 24px;
}

.contacts h2 {
    padding-top: 15px;
}
.contacts__maps {
    grid-column: 1;
    grid-row: 1/3;
}
.contacts__location2 {
  
}
.contacts__location1, .contacts__location2 {
    max-width: 392px;
    padding-left: 45px;
    background-color: #018ABE;
    border-radius: 10px;
}
.contacts__items {
    padding: 0;
    margin: 0;
}
.contacts__items li {
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding-bottom: 25px;
    color: rgba(255, 255, 255, .5);
    letter-spacing: 1px;
    padding-left: 40px;
}
.contacts__items li:first-child {
    background-image: url(../images/location.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position-y: -10%;
}
.contacts__items li:nth-child(2) {
    background-image: url(../images/metro.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position-y: -10%;
}
.contacts__items li:last-child {
    background-image: url(../images/Group.svg);
    background-repeat: no-repeat;
    background-position-y: -10%;
    background-size: 20px 20px;
}
.btn {
    padding: 9px 15px;
    margin-top: 10px;
    margin-bottom: 35px;
    background-color: #FFF;
    color: #018ABE;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    line-height: 14px;
    transition: .5s;
}
.btn:hover {
    background-color: rgba(255, 255, 255, .5);
    color: #FFF;
}
.footer {
    max-width: 1296px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer p {
    color: #FFF;
    font-size: 14px;
}


@media (max-width: 1000px) {
    .header__list {
        display: flex;
        list-style-type: none;
        gap: 20px;
        padding-left: 0;
    }
    .about__content {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 150px;
    }
    .contacts__maps iframe {
        width: 600px; 
        height: 600px;
    }
    .about__img {
        text-align: center;
    }
    .price__items span {
        position: absolute;
        left: 80%;
    }
    .price__img {
        max-width: 400px;
        text-align: center;
    }
}
